# Получить у @BotFather
BOT_TOKEN=8509050334:AAHY8IAcLZmrtbpqb169bCHJ8TEcmkih7lI

# URL вашего backend API (после деплоя, напр. https://api.yourdomain.uz)
BACKEND_URL=http://localhost:3001

# URL Mini App (после деплоя фронтенда, напр. https://app.yourdomain.uz)
MINIAPP_URL=https://your-miniapp-url.example.com
